# Don't ignore backend folder!
# backend/

# But ignore these
.git
.gitignore
*.md
!backend/*.md
android/
ios/
macos/
linux/
windows/
test/
lib/
web/
build/
.dart_tool/
.flutter-plugins
.packages
pubspec.lock
node_modules/
.env
.env.local

