# Ignore everything except backend
android/
ios/
macos/
linux/
windows/
test/
lib/
web/
build/macos/
build/ios/
build/android/
.git
.gitignore
*.md
.dart_tool/
.flutter-plugins
.packages
node_modules/
.env
.env.local

